language: ruby

os:
  - osx
  - linux

install:
  - unset DYLD_LIBRARY_PATH
  - if [ `uname` = "Linux" ]; then bash setup_travis_linux.sh; fi
  - if [ `uname` = "Linux" ]; then export PATH="$HOME/.linuxbrew/bin:$PATH"; fi
  - brew update
  - if [ `uname` = "Linux" ]; then brew install pkg-config $(brew deps gcc); fi
    # Can stay silent for longer than 10 mins if not using bottle.
  - if [ `uname == "Linux" ]; then travis_wait brew install gcc; fi
  - brew update
  - brew tap homebrew/science
  # Install homebrew/cutest as tap.
  - mkdir -p $(brew --repo)/Library/Taps/travis
  - ln -s $PWD $(brew --repo)/Library/Taps/travis/travis-testtap
  - brew tap --repair

env:
  - PACKAGE=archdefs
  - PACKAGE=sifdecode
  - PACKAGE=cutest
  - PACKAGE=mastsif

script:
  #- brew audit $PACKAGE --strict  # Fails for now b/c head only.
  - brew install -v $PACKAGE --HEAD
  - brew test -v $PACKAGE
